 .contantMain{
            background-image: url('./assets/contactPageBG.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
        }
        .formBG{
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            margin: 0 auto;
            width: 300px;
        }