 .imageGallery{
            display: grid;
            width: 600px;
            height: 600px;
            gap:5px;
            margin: 20px auto;
            background-color: pink;
            padding: 10px;
        }
        .imgOne{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .imgTwo{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        .imgThree{
                 grid-column-start: 1;
            grid-column-end: 2;
              grid-row-start: 3;
            grid-row-end: 4;
        }
        .imgFour{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .imgFive{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .imageGallery img{
            width: 100%;
            height: 100%;
        }