        * {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            position: sticky;
            top:0;
            z-index: 10;
            width: 100%;
        }

        .navItem {
            color: black;
            text-decoration: none;
        }

        .navbar {
            display: flex;
            justify-content: space-evenly;
            background-color: gray;
            padding: 10px;
        }
        .activePage{
            color: red;
            text-shadow: 1px 1px 2px white;
        }
        .footer{
            display: flex;
            justify-content: space-around;
            background-color: black;
            color: white;
        }
        .footer h3{
            margin-bottom: 10px;
        }
        .socialMedia{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            gap:20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .socialMedia p {
            background-color: gray;
            padding: 10px;
            border-radius: 50%;
        }
        .socialMedia p:hover{
            background-color: white;
            color: red;
        }


.goToTop{
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 50%;
    padding-top: 15px;
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
}